    *
    {
        padding: 0;
        margin: 0;
    }

    .caorusel_container
    {
        width: 35%;
        margin: auto;
        border: 5px solid black;
        overflow: hidden;

    }

    .caorusel_container img
    {
        display: block;
        width: 100%;
    }
    .caorusel_slide
    {
        display: flex;
        height: 35vw;

    }
    .transformAnimation
    {
        transition: .4s all ease-in-out;
    }


    button {
        background-color: #4CAF50;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        justify-content: center;
        font-size: 16px;
        margin-bottom: 4vw;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    
    button.prev {
        background-color: #007BFF;

    }


    button.next {
        background-color: #FFC107;
    }
    img {
        max-width: 100%;
        height: auto;
        min-height: 300px; 
    }
    .buttons {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    @media (max-width: 900px) {
        .caorusel_container {
            width: 100%;
            margin: auto;
            min-height: 300px;
            max-width: 300px;
            border: 5px solid black;
            overflow: hidden;
        }
    
        .caorusel_container img {
            display: block;
            width: 100%;
        }
    
        .caorusel_slide {
            display: flex;
            height: 35vw;
        }
    
        .transformAnimation {
            transition: .4s all ease-in-out;
        }
    
    
        .buttons {
            display: flex;
            justify-content: center;
        }
        button {
            background-color: #4CAF50;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: flex;
            margin: 4px;
            font-size: 16px;
            margin-bottom: 4vw;
            cursor: pointer;
            border: none;
            border-radius: 4px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }
    }